<%= simple_form_for(video) do |f| %>
  <%= f.input :url, as: :hidden, value: video.url %>
  <%= f.input :video_duration, as: :hidden, value: video.video_duration %>
  <%= f.input :thumbnail, as: :hidden, value: video.thumbnail %>
  <div class="inline-box">
    <div>
      <%= f.input :name, label: 'Titre de la vidéo', value: video.name %>
    </div>
    <div>
      <p><strong>Durée</strong></p>
      <p id="video_duration"></p>
    </div>
  </div>
  <%= f.input :description, value: video.description %>
  <label class="control-label string required"><abbr title="required">*</abbr>Intensité</label>
  <div class="form-inline inline-intensity">
    <input type="radio" class="hidden" value=1 name="intensity" id="intensity1">
    <label for="intensity1" class="intensity-selector">Basse</label>
    <input type="radio" class="hidden" value=2 name="intensity" id="intensity2">
    <label for="intensity2" class="intensity-selector">Moyenne</label>
    <input type="radio" class="hidden" value=3 name="intensity" id="intensity3">
    <label for="intensity3" class="intensity-selector">Haute</label>
  </div>
<!--   <label class="control-label string required"><abbr title="required">*</abbr>Zone du corps</label> -->
<!--   <div class="form-inline inline-intensity"> -->
<!--     <input type="checkbox" class="hidden" value=1 name="intensity" id="intensity1"> -->
<!--     <label for="intensity1" class="intensity-selector">Basse</label> -->
<!--   </div> -->

  <%= f.button :submit, class: "btn btn-primary", label: "Créer la video" %>
<% end %>
