<div class="sidebar">
  <%= link_to root_path, class: "brand-logo" do %>
    <%= image_tag "logo-booty-master.png", alt: "logo Booty Master", class: "logo logo-mini" %>
    <h3>Booty Master</h3>
  <% end %>
  <ul class="hidden-xs hidden-sm">
    <% if user_signed_in? %>
      <li><%= link_to "Ajouter une vidéo", new_video_path %></li>
      <li> <%= link_to "Vidéos et workouts", videos_path %> </li>
      <li> <a href="#">Mon activité</a> </li>
      <li id="sidebar-logout">
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
        <% end %>
      </li>
    <% else %>
      <!-- Login link (when logged out) -->
      <li><%= link_to t(".sign_in", default: "Connexion"), new_user_session_path %></li>
      <li><%= link_to t(".sign_up", default: "S'inscrire"), new_user_registration_path %></li>
    <% end %>
  </ul>

    <!-- Dropdown list appearing on mobile only -->
  <div class="mobile-navbar hidden-md hidden-lg">
    <% if user_signed_in? %>
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><%= link_to "Ajouter une vidéo", new_video_path %></li>
          <li> <%= link_to "Vidéos et workouts", videos_path %> </li>
          <li><a href="#">Mon activité</a></li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <%= t(".sign_out", default: "Log out") %>
            <% end %>
          </li>
        </ul>
      </div>
    <% else %>
      <%= link_to t(".sign_in", default: "Connexion"), new_user_session_path %></li>
    <% end %>
  </div>
</div>
